#text-box {
    margin: 0 auto;
    float: none;
}

.table-div {
    max-height:450px;
    overflow: auto;
    margin: 3%;
}

.hidden-column{
    display: none;
}

.container {
    max-width: 1000px;
  }

  .unbabel-logo{
      height: 30%;
      width: 30%;
      margin:auto;
      display: block;
  }